*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 800px;
}

.space-around-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.center-text {
    text-align: center;
}

.navbar {
    background-color: #8C001A;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navlink {
    text-decoration: none;
    color: #F5F3BB;
    font-size: x-large;
    font-weight: bold;
    line-height: 2.25em;
}

.navlink:hover {
    color: #eae670;
}

.btn {
    line-height: 2em;
    border-radius: 10px;
    font-family: Arial;
    color: #F5F3BB;
    font-size: large;
    font-weight: bold;
    background: #8C001A;
    text-decoration: none;
    padding: .3em .5em .3em .5em;
}
  
.btn:hover {
    background: #700015;
    color: #eae670;
    text-decoration: none;
}

.form-container {
    border: 3px solid black;
    border-radius: 13px;
    margin: 1.5em;
}

.form-title {
    color: #F5F3BB;
    background-color: #8C001A;
    text-align: center;
    border: 3px solid #8C001A;
    border-radius: 10px 10px 0px 0px;
}

.btn-small {
    line-height: 2em;
    border-radius: 10px;
    font-family: Arial;
    color: #F5F3BB;
    font-size: large;
    font-weight: bold;
    background: #8C001A;
    text-decoration: none;
    padding: 0 .5em 0 .5em;
    margin: .3em;
}
  
.btn-small:hover {
    background: #700015;
    color: #eae670;
    text-decoration: none;
}

.checkbox-flex-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.checkbox-container {
    text-align: center;
}
.chosen-restaurant-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    max-width: 90%;
}

.price {
    font-weight: bolder;
}

.emoji-rating {
    max-width: 30%;
    padding-bottom: 1rem;
    padding-top: .5rem;
}

.indent-children h1,
.indent-children h2,
.indent-children h4,
.indent-children h5,
.indent-children h6,
.indent-children p {
    margin-left: 1rem;
}

.loading-div {
    border: 3px solid black;
    border-radius: 13px;
    background-color: #8C001A;
    margin: 1.5em;
    display: flex;
    justify-content: space-around;
    height: 4em;
}

.dot-nest {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bouncy-boi-1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #F5F3BB;
    animation-name: bounce;
    animation-duration: 1.5s; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.bouncy-boi-2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #F5F3BB;
    animation-name: bounce;
    animation-duration: 1.5s; 
    animation-delay: .3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.bouncy-boi-3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #F5F3BB;
    animation-name: bounce;
    animation-duration: 1s; 
    animation-delay: .6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes bounce {
    0% {transform: translateY(0rem);}
    25% {transform: translateY(-1rem);}
    50% {transform: translateY(0rem);}
    75% {transform: translateY(1rem);}
    100% {transform: translateY(0rem);}
}

